
.curCon {
    float: left;
    width: 50%;
    padding-bottom: 60px;
    background-color: #fbe7d7;
}

.curCal {
    padding-top: 2%;
    margin-top: 10%;
    margin-right: 5%;
    height: 350px;
    align-content: center;
    border: 5pt solid #fbe7d7;
    background-color: rgb(235, 235, 235);
}


.currency {
    padding-top: 5%;
    align-items: center;
}

.currency select {
    background: white;
    padding-right: 20px;
    font-size: 22px;
    
}

.currency input {
    border: solid 1pt #000000;
    background: white;
    font-size: 22px;
    text-align: right;
}


.middle {
    color: black;
    position: static;
	align-items: center;
    align-items: center;
    padding-left: 10%;    
    padding-top: 2%;
    margin-top: 5%;
    margin-right: 50%;
    margin-bottom: 10%;

}

.middle #exchange {
	background-color: #fff;
	border: 2px solid #ecf0f1;
	border-radius: 50%;
	cursor: pointer;
	color: black;
	font-size: 18px;
    display: flex;
    position: absolute;
    margin-top: 3%;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
    transform: rotate(90deg);
}

.middle .rate {
    background-color: #fff;
    border: 2px solid #000000;
    width: 50%;  
    height: 65%;
    position: static;
    align-items: center;
    align-content: center;
    margin-left: 50%;
    margin-bottom: 10%;
    padding-top: 2%;

}

select:focus, input:focus, button:focus {
    outline: 0;
}


