.itineraryCon {
  float: left;
  background-color: white;
  
}


  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  

  
  .description{
    background-color: #fbe7d7;
    white-space: pre-wrap;
    text-align: center;
    font-size: 27px;
  }
  
  

  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    text-align: center;
    color: navy;
  }
  
  .hide {
    display: none;
  }
  

  
  .day-block {
    white-space: pre-wrap;
    border-top: 1px solid #c1c2c3;  
    text-align: center;
    border-radius: 15px;
  }
  
  .day {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed ;
  }
  
  
  .saveBtn {
    border: 2px solid black;
    border-radius: 15px;
    background-color: #c1c2c3;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #c1c2c3;
    border-color: #6c757d;
    padding-bottom: 1%;
  
  }
  
  .dropdown-toggle{  
  margin: auto;
  display: block;
  width: 25%;
  }

  .dropdown-menu {
    margin: auto;
    width: 25%;
    text-align: center;
    background-color: #c1c2c3;
  }
  
  .clearBtn {
    border-radius: 10px;
    background-color: #c1c2c3;
    color: #000000;
    text-align: center;
    opacity: 1;
    padding: 5px;
    margin: auto;
    display: block;
    width: 25%;
  }
  
  .clearBtn:Hover {
    font-size: 30px;
    opacity: 0.6;
    transition: all .3s ease-in-out;
  }
