
.fourSquare {
    background-color: #fbe7d7;
    float: left;
}

form {
    width: 50%;
    align-content: center;
    
}



.intineraryCon {
    justify-content: center;
    align-items: center;

}

.searchArea {
    border: 5pt solid white; 
    float: left;   
    align-items: center;
    display: block;
    margin-top: 2%;
    margin-left: 55%;
    padding-bottom: 3%;


}

#resultsContainer {
    float: left;
    display: block;
    align-items: center;
    margin-top: 5%;
    /* margin-left: 20%; */
    margin-bottom: 5%;

}

.scroller {
    width: 98%;
    height: 650px;
    overflow-y: scroll;
    scrollbar-width: thin;
    display: block;
    float: left important!;  
    border: 5pt solid white;
    align-items: center;
    margin-top: 5%;
    margin-left: 1%;
    margin-bottom: 5%;
}

.card-body{
    text-align: center;
    background-color:  #c1c2c3;
    color: #000000;
}