* {
width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-align: center;
  width: auto;
  background-color: white;
}


.jumbotron {
  text-align: center;
  background-color: #ffffff;
  color: #ffffff;
  text-transform: uppercase;
}

.topSection {
  width: 100%
}

.secondSection {
  width: 100%;

}

.headertext {
  position: absolute;
  width: 20%;
  top: 40%;
  left: 40%;
}

.headertext2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}
.headertext3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}



h2 {
font-size: 15pt;
text-align: center;
color: #000000;
}



button, input {
  overflow: auto;
}  



.Card {
  border: 1px solid white;
  width: auto;
}


footer {
  width: 100%;
  background-color: rgba(220, 220, 220, 0.954);
  padding-top: 20px;
  text-align: center;
  position: static   ;
  height: 15%;
  margin-top: 75px;
}