
.weather {
    align-items: center;
    background-color: white;
    padding-top: 5%;
    width: 100%;

} 

.weather h4 {
text-align: center;
}

.card-body{
    text-align: center;
    background-color:  #c1c2c3;
    color: #000000;
    /* width: 100%; */

}

.row {
    align-items: center;
}