

.weather {
    width: 85%;
    display: inline-table;
    margin-left: 15%;
} 

.listbtn {
    background-color:  #c1c2c3;
    color: #000000;
}

.left_div{
    background-color: whitesmoke; 
    height: 100%; 
}

.card-body{
    background-color:  #c1c2c3;
    color: #000000;
    width: 100%;
}

.card {
    border: 2pt solid #ffffff;
    ;
}