/* #dashboard{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(212, 82, 53);
    background-image:url("./images/weatherbackground.png");
    background-size: cover;
    height: 100%;
} */

.listbtn {
    background-color:  #c1c2c3;
    color: #000000;
}

.left_div{
    background-color: whitesmoke; 
    height: 100%; 
}

.card-body{
    background-color:  #c1c2c3;
    color: #000000;
    width: 100%;
}
